docx/bepl/2/AirlineService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://airline.example.ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://airline.example.ws" xmlns:intf="http://airline.example.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://airline.example.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTicketPrice">
    <complexType>
     <sequence>
      <element name="dayGo" type="xsd:string"/>
      <element name="cityFrom" type="xsd:string"/>
      <element name="cityTo" type="xsd:string"/>
      <element name="prefE" type="xsd:string"/>
      <element name="prefP" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTicketPriceResponse">
    <complexType>
     <sequence>
      <element name="getTicketPriceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAirline">
    <complexType>
     <sequence>
      <element name="dayGo" type="xsd:string"/>
      <element name="cityFrom" type="xsd:string"/>
      <element name="cityTo" type="xsd:string"/>
      <element name="prefE" type="xsd:string"/>
      <element name="prefP" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAirlineResponse">
    <complexType>
     <sequence>
      <element name="getAirlineReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAirlineRequest">

      <wsdl:part element="impl:getAirline" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketPriceResponse">

      <wsdl:part element="impl:getTicketPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAirlineResponse">

      <wsdl:part element="impl:getAirlineResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTicketPriceRequest">

      <wsdl:part element="impl:getTicketPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AirlineService">

      <wsdl:operation name="getTicketPrice">

         <wsdl:input message="impl:getTicketPriceRequest" name="getTicketPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTicketPriceResponse" name="getTicketPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAirline">

         <wsdl:input message="impl:getAirlineRequest" name="getAirlineRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAirlineResponse" name="getAirlineResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AirlineServiceSoapBinding" type="impl:AirlineService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTicketPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTicketPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTicketPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAirline">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAirlineRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAirlineResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AirlineServiceService">

      <wsdl:port binding="impl:AirlineServiceSoapBinding" name="AirlineService">

         <wsdlsoap:address location="http://10.77.30.213:8080/webServiceProj/services/AirlineService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
