docx/wsdl/FlightServiceI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://impl.service.enterprise.ws.iir.ruc.edu.cn" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://impl.service.enterprise.ws.iir.ruc.edu.cn">
    <wsdl:documentation>FlightServiceI</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.service.enterprise.ws.iir.ruc.edu.cn">
            <xs:element name="getFlight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="aOrderFields" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="aPageSize" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="aPageIndex" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="aSqlPs" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFlightResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NewFlight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="f_code" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_caption" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_start_addr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_arrive_addr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_start_time" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_arrive_time" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_duration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_duration_info" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_price" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NewFlightResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EditFlight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="f_code" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_caption" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_start_addr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_arrive_addr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_start_time" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_arrive_time" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_duration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_duration_info" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_price" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EditFlightResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteFlight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteFlightResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="EditFlightRequest">
        <wsdl:part name="parameters" element="ns:EditFlight"/>
    </wsdl:message>
    <wsdl:message name="EditFlightResponse">
        <wsdl:part name="parameters" element="ns:EditFlightResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteFlightRequest">
        <wsdl:part name="parameters" element="ns:DeleteFlight"/>
    </wsdl:message>
    <wsdl:message name="DeleteFlightResponse">
        <wsdl:part name="parameters" element="ns:DeleteFlightResponse"/>
    </wsdl:message>
    <wsdl:message name="NewFlightRequest">
        <wsdl:part name="parameters" element="ns:NewFlight"/>
    </wsdl:message>
    <wsdl:message name="NewFlightResponse">
        <wsdl:part name="parameters" element="ns:NewFlightResponse"/>
    </wsdl:message>
    <wsdl:message name="getFlightRequest">
        <wsdl:part name="parameters" element="ns:getFlight"/>
    </wsdl:message>
    <wsdl:message name="getFlightResponse">
        <wsdl:part name="parameters" element="ns:getFlightResponse"/>
    </wsdl:message>
    <wsdl:portType name="FlightServiceIPortType">
        <wsdl:operation name="EditFlight">
            <wsdl:input message="ns:EditFlightRequest" wsaw:Action="urn:EditFlight"/>
            <wsdl:output message="ns:EditFlightResponse" wsaw:Action="urn:EditFlightResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteFlight">
            <wsdl:input message="ns:DeleteFlightRequest" wsaw:Action="urn:DeleteFlight"/>
            <wsdl:output message="ns:DeleteFlightResponse" wsaw:Action="urn:DeleteFlightResponse"/>
        </wsdl:operation>
        <wsdl:operation name="NewFlight">
            <wsdl:input message="ns:NewFlightRequest" wsaw:Action="urn:NewFlight"/>
            <wsdl:output message="ns:NewFlightResponse" wsaw:Action="urn:NewFlightResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getFlight">
            <wsdl:input message="ns:getFlightRequest" wsaw:Action="urn:getFlight"/>
            <wsdl:output message="ns:getFlightResponse" wsaw:Action="urn:getFlightResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FlightServiceISoap11Binding" type="ns:FlightServiceIPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="EditFlight">
            <soap:operation soapAction="urn:EditFlight" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteFlight">
            <soap:operation soapAction="urn:DeleteFlight" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="NewFlight">
            <soap:operation soapAction="urn:NewFlight" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFlight">
            <soap:operation soapAction="urn:getFlight" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FlightServiceISoap12Binding" type="ns:FlightServiceIPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="EditFlight">
            <soap12:operation soapAction="urn:EditFlight" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteFlight">
            <soap12:operation soapAction="urn:DeleteFlight" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="NewFlight">
            <soap12:operation soapAction="urn:NewFlight" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFlight">
            <soap12:operation soapAction="urn:getFlight" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FlightServiceIHttpBinding" type="ns:FlightServiceIPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="EditFlight">
            <http:operation location="EditFlight"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteFlight">
            <http:operation location="DeleteFlight"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="NewFlight">
            <http:operation location="NewFlight"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFlight">
            <http:operation location="getFlight"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FlightServiceI">
        <wsdl:port name="FlightServiceIHttpSoap11Endpoint" binding="ns:FlightServiceISoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/FlightServiceI.FlightServiceIHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FlightServiceIHttpSoap12Endpoint" binding="ns:FlightServiceISoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/FlightServiceI.FlightServiceIHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FlightServiceIHttpEndpoint" binding="ns:FlightServiceIHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/FlightServiceI.FlightServiceIHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
