docx/wsdl/RoomServiceI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://impl.service.enterprise.ws.iir.ruc.edu.cn" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://impl.service.enterprise.ws.iir.ruc.edu.cn">
    <wsdl:documentation>RoomServiceI</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.service.enterprise.ws.iir.ruc.edu.cn">
            <xs:element name="getRoom">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="hid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRoomResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NewRoom">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="r_h_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="h_code" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_code" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_bed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_cancel" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_eat" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_wifi" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_daily_price" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NewRoomResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EditRoom">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="r_h_id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="h_code" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_code" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_bed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_cancel" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_eat" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_wifi" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="r_daily_price" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EditRoomResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteRoom">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteRoomResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="EditRoomRequest">
        <wsdl:part name="parameters" element="ns:EditRoom"/>
    </wsdl:message>
    <wsdl:message name="EditRoomResponse">
        <wsdl:part name="parameters" element="ns:EditRoomResponse"/>
    </wsdl:message>
    <wsdl:message name="getRoomRequest">
        <wsdl:part name="parameters" element="ns:getRoom"/>
    </wsdl:message>
    <wsdl:message name="getRoomResponse">
        <wsdl:part name="parameters" element="ns:getRoomResponse"/>
    </wsdl:message>
    <wsdl:message name="NewRoomRequest">
        <wsdl:part name="parameters" element="ns:NewRoom"/>
    </wsdl:message>
    <wsdl:message name="NewRoomResponse">
        <wsdl:part name="parameters" element="ns:NewRoomResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteRoomRequest">
        <wsdl:part name="parameters" element="ns:DeleteRoom"/>
    </wsdl:message>
    <wsdl:message name="DeleteRoomResponse">
        <wsdl:part name="parameters" element="ns:DeleteRoomResponse"/>
    </wsdl:message>
    <wsdl:portType name="RoomServiceIPortType">
        <wsdl:operation name="EditRoom">
            <wsdl:input message="ns:EditRoomRequest" wsaw:Action="urn:EditRoom"/>
            <wsdl:output message="ns:EditRoomResponse" wsaw:Action="urn:EditRoomResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRoom">
            <wsdl:input message="ns:getRoomRequest" wsaw:Action="urn:getRoom"/>
            <wsdl:output message="ns:getRoomResponse" wsaw:Action="urn:getRoomResponse"/>
        </wsdl:operation>
        <wsdl:operation name="NewRoom">
            <wsdl:input message="ns:NewRoomRequest" wsaw:Action="urn:NewRoom"/>
            <wsdl:output message="ns:NewRoomResponse" wsaw:Action="urn:NewRoomResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteRoom">
            <wsdl:input message="ns:DeleteRoomRequest" wsaw:Action="urn:DeleteRoom"/>
            <wsdl:output message="ns:DeleteRoomResponse" wsaw:Action="urn:DeleteRoomResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RoomServiceISoap11Binding" type="ns:RoomServiceIPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="EditRoom">
            <soap:operation soapAction="urn:EditRoom" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoom">
            <soap:operation soapAction="urn:getRoom" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="NewRoom">
            <soap:operation soapAction="urn:NewRoom" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteRoom">
            <soap:operation soapAction="urn:DeleteRoom" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RoomServiceISoap12Binding" type="ns:RoomServiceIPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="EditRoom">
            <soap12:operation soapAction="urn:EditRoom" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoom">
            <soap12:operation soapAction="urn:getRoom" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="NewRoom">
            <soap12:operation soapAction="urn:NewRoom" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteRoom">
            <soap12:operation soapAction="urn:DeleteRoom" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RoomServiceIHttpBinding" type="ns:RoomServiceIPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="EditRoom">
            <http:operation location="EditRoom"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoom">
            <http:operation location="getRoom"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="NewRoom">
            <http:operation location="NewRoom"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteRoom">
            <http:operation location="DeleteRoom"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RoomServiceI">
        <wsdl:port name="RoomServiceIHttpSoap11Endpoint" binding="ns:RoomServiceISoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/RoomServiceI.RoomServiceIHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RoomServiceIHttpSoap12Endpoint" binding="ns:RoomServiceISoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/RoomServiceI.RoomServiceIHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RoomServiceIHttpEndpoint" binding="ns:RoomServiceIHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/RoomServiceI.RoomServiceIHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
