docx/wsdl/TourServiceI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://impl.service.client.ws.iir.ruc.edu.cn" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://impl.service.client.ws.iir.ruc.edu.cn">
    <wsdl:documentation>TourServiceI</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.service.client.ws.iir.ruc.edu.cn">
            <xs:element name="getTour">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="f_day_btime" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_start_addr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="f_arrive_addr" nillable="true" type="xs:string"/>
                        <xs:element name="p_days" type="xs:int"/>
                        <xs:element name="p_budget" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTourResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTourRequest">
        <wsdl:part name="parameters" element="ns:getTour"/>
    </wsdl:message>
    <wsdl:message name="getTourResponse">
        <wsdl:part name="parameters" element="ns:getTourResponse"/>
    </wsdl:message>
    <wsdl:portType name="TourServiceIPortType">
        <wsdl:operation name="getTour">
            <wsdl:input message="ns:getTourRequest" wsaw:Action="urn:getTour"/>
            <wsdl:output message="ns:getTourResponse" wsaw:Action="urn:getTourResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TourServiceISoap11Binding" type="ns:TourServiceIPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTour">
            <soap:operation soapAction="urn:getTour" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TourServiceISoap12Binding" type="ns:TourServiceIPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTour">
            <soap12:operation soapAction="urn:getTour" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TourServiceIHttpBinding" type="ns:TourServiceIPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getTour">
            <http:operation location="getTour"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TourServiceI">
        <wsdl:port name="TourServiceIHttpSoap11Endpoint" binding="ns:TourServiceISoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/TourServiceI.TourServiceIHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TourServiceIHttpSoap12Endpoint" binding="ns:TourServiceISoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/TourServiceI.TourServiceIHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TourServiceIHttpEndpoint" binding="ns:TourServiceIHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/TourServiceI.TourServiceIHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
